{
  "presets": [
    ["env", {
      "targets": { "browsers": "last 3 versions"},
      "modules": false
    }],
    "stage-3",
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-3",
        "react"
      ],
      "plugins": ["transform-object-rest-spread", "transform-class-properties"],
    }
  }
}
